body {margin:0;}
#banner {
    background-color:#222;
    border-radius:0;
    text-align: center; }
#banner > h1 { color:#61dafb; }
#banner > h5 {color:#fff;}
a.nav-link {text-align: center;margin-top:30px;}